/.vs/jcSMP/v14/.suo
/.vs/jcSMP/v14/vbcs.cache/edb.chk
/.vs/jcSMP/v14/vbcs.cache/edb.log
/.vs/jcSMP/v14/vbcs.cache/edbres00001.jrs
/.vs/jcSMP/v14/vbcs.cache/edbres00002.jrs
/.vs/jcSMP/v14/vbcs.cache/edbtmp.log
/.vs/jcSMP/v14/vbcs.cache/storage.ide
/Debug/jcSMP.ConsoleTest.exe
/Debug/jcSMP.ConsoleTest.exe.metagen
/Debug/jcSMP.ConsoleTest.pdb
/Debug/jcSMP.Lib.dll
/Debug/jcSMP.Lib.dll.metagen
/Debug/jcSMP.Lib.pdb
/ipch/JCSMP.CONSOLETEST-5f6f5887/JCSMP.ipch
/ipch/JCSMP.LIB-ee0c78f/JCSMP.ipch
/jcSMP.opensdf
/jcSMP.sdf
/jcSMP.ConsoleTest/Debug/.NETFramework,Version=v4.6.AssemblyAttributes.obj
/jcSMP.ConsoleTest/Debug/AssemblyInfo.obj
/jcSMP.ConsoleTest/Debug/app.res
/jcSMP.ConsoleTest/Debug/jcSMP.Co.31EE8591.tlog/CL.read.1.tlog
/jcSMP.ConsoleTest/Debug/jcSMP.Co.31EE8591.tlog/CL.write.1.tlog
/jcSMP.ConsoleTest/Debug/jcSMP.Co.31EE8591.tlog/TZRES.DLL.bi
/jcSMP.ConsoleTest/Debug/jcSMP.Co.31EE8591.tlog/cl.command.1.tlog
/jcSMP.ConsoleTest/Debug/jcSMP.Co.31EE8591.tlog/jcSMP.ConsoleTest.lastbuildstate
/jcSMP.ConsoleTest/Debug/jcSMP.Co.31EE8591.tlog/link.command.1.tlog
/jcSMP.ConsoleTest/Debug/jcSMP.Co.31EE8591.tlog/link.read.1.tlog
/jcSMP.ConsoleTest/Debug/jcSMP.Co.31EE8591.tlog/link.write.1.tlog
/jcSMP.ConsoleTest/Debug/jcSMP.Co.31EE8591.tlog/metagen.read.1.tlog
/jcSMP.ConsoleTest/Debug/jcSMP.Co.31EE8591.tlog/metagen.write.1.tlog
/jcSMP.ConsoleTest/Debug/jcSMP.Co.31EE8591.tlog/rc.command.1.tlog
/jcSMP.ConsoleTest/Debug/jcSMP.Co.31EE8591.tlog/rc.read.1.tlog
/jcSMP.ConsoleTest/Debug/jcSMP.Co.31EE8591.tlog/rc.write.1.tlog
/jcSMP.ConsoleTest/Debug/jcSMP.ConsoleTest.Build.CppClean.log
/jcSMP.ConsoleTest/Debug/jcSMP.ConsoleTest.log
/jcSMP.ConsoleTest/Debug/jcSMP.ConsoleTest.obj
/jcSMP.ConsoleTest/Debug/jcSMP.ConsoleTest.pch
/jcSMP.ConsoleTest/Debug/jcSMP.ConsoleTest.vcxprojResolveAssemblyReference.cache
/jcSMP.ConsoleTest/Debug/stdafx.obj
/jcSMP.ConsoleTest/Debug/vc140.pdb
/jcSMP.Lib/Debug/.NETFramework,Version=v4.6.AssemblyAttributes.obj
/jcSMP.Lib/Debug/AssemblyInfo.obj
/jcSMP.Lib/Debug/Stdafx.obj
/jcSMP.Lib/Debug/app.res
/jcSMP.Lib/Debug/jcSMP.Lib.Build.CppClean.log
/jcSMP.Lib/Debug/jcSMP.Lib.log
/jcSMP.Lib/Debug/jcSMP.Lib.pch
/jcSMP.Lib/Debug/jcSMP.Lib.tlog/CL.read.1.tlog
/jcSMP.Lib/Debug/jcSMP.Lib.tlog/CL.write.1.tlog
/jcSMP.Lib/Debug/jcSMP.Lib.tlog/TZRES.DLL.bi
/jcSMP.Lib/Debug/jcSMP.Lib.tlog/cl.command.1.tlog
/jcSMP.Lib/Debug/jcSMP.Lib.tlog/jcSMP.Lib.lastbuildstate
/jcSMP.Lib/Debug/jcSMP.Lib.tlog/link.command.1.tlog
/jcSMP.Lib/Debug/jcSMP.Lib.tlog/link.read.1.tlog
/jcSMP.Lib/Debug/jcSMP.Lib.tlog/link.write.1.tlog
/jcSMP.Lib/Debug/jcSMP.Lib.tlog/metagen.read.1.tlog
/jcSMP.Lib/Debug/jcSMP.Lib.tlog/metagen.write.1.tlog
/jcSMP.Lib/Debug/jcSMP.Lib.tlog/rc.command.1.tlog
/jcSMP.Lib/Debug/jcSMP.Lib.tlog/rc.read.1.tlog
/jcSMP.Lib/Debug/jcSMP.Lib.tlog/rc.write.1.tlog
/jcSMP.Lib/Debug/jcSMPServer.obj
/jcSMP.Lib/Debug/vc140.pdb
